<thead>
    <tr>
        <th class="text-center">Codigo</th>
        <th class="text-center">Nome/Razão</th>
        <th class="text-center">CGC</th>
        <th class="text-center">Email</th>
        <th class="text-center">Email Status</th>
        <th class="text-center">Tel1</th>
        <th class="text-center">Tipo</th>
        <th class="text-center">Tel1 Status</th>
        <th class="text-center">Tel2</th>
        <th class="text-center">Tipo</th>
        <th class="text-center">Tel2 Status</th>
    </tr>
</thead>
<tbody>
    <%dados.forEach(dado=>{%>
        <tr>
            <td>
                <%=dado.id%>
            </td>
            <td>
                <%=dado.nome%>
            </td>
            <td>
                <%=dado.cgc%>
            </td>
            <td>
                <%=dado.email[0].email%>
            </td>
            <%if(dado.email[0].status=='valido' ){%>
                <td style="background-color:green; color: white; text-align: center;">
                    <p>VALIDO</p>
                </td>
                <%}else{%>
                    <td style="background-color: red; color: white; text-align: center;">
                        <p>INVALIDO</p>
                    </td>
                    <%}%>
                        <td>
                            <%=dado.tel1[0].numero%>
                        </td>
                        <td>
                            <%=dado.tel1[0].is%>
                        </td>
                        <%if(dado.tel1[0].status==true ){%>
                            <td style="background-color:green; color: white; text-align: center;">
                                VALIDO
                            </td>
                            <%}else{%>
                                <td style="background-color: red; color: white; text-align: center;">
                                    INVALIDO
                                </td>
                                <%}%>
                                    <td>
                                        <%=dado.tel2[0].numero%>
                                    </td>
                                    <td>
                                        <%=dado.tel2[0].is%>
                                    </td>
                                    <%if(dado.tel2[0].status==true){%>
                                        <td style="background-color:green; color: white; text-align: center;">
                                            <p>VALIDO</p>
                                        </td>
                                        <%}else{%>
                                            <td style="background-color: red; color: white; text-align: center;">
                                                <p>INVALIDO</p>
                                            </td>
                                            <%}%>
        </tr>
        <%})%>
</tbody>